<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Spring MVC Application</display-name>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>AppletServiceServlet</servlet-name>
        <servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
        <init-param>
            <param-name>IncludeAddress</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>SkipSecureConnectionCheck</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>AppletServiceServlet</servlet-name>
        <url-pattern>/applet-service</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthenticationServiceServlet</servlet-name>
        <servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
        <init-param>
            <param-name>IncludeIdentity</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>IncludeAddress</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>SkipSecureConnectionCheck</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>AuthenticationServiceClass</param-name>
            <param-value>be.contribute.service.AuthenticationServiceImpl</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthenticationServiceServlet</servlet-name>
        <url-pattern>/authentication-service</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSONServlet</servlet-name>
        <servlet-class>be.fedict.eid.applet.service.JSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSONServlet</servlet-name>
        <url-pattern>/identity.js</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>cors</filter-name>
        <filter-class>be.contribute.interceptor.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>cors</filter-name>
        <url-pattern>/simple/*</url-pattern>
    </filter-mapping>

</web-app>